{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

{% for message in messages %}
    <div class="message text-center text-bg-primary alert alert-info{{ message.tags }}">
    {{ message }}
    </div>
{% endfor %}

<div class="container bg-light shadow-md p-5 form-layout">
<h4>WELCOME TO LOGIN PAGE</h4>
<hr>
<br>
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <br>
    {{ form.username | as_crispy_field }}
    <br>
    {{ form.password | as_crispy_field }}
    <br>
    {{ form.captcha | as_crispy_field }}

    <button type="submit" class="btn btn-primary w-100 btn-block p-2">login
    <i class="fa fa-key" aria-hidden="true"></i>
    </button>
</form>
<br>
<div class="text-center">
    <p>DON'T HAVE AN ACCOUNT</p>
    <a href="{% url "register" %}">REGISTER</a>
</div>
</div>

</body>
</html>
{% endblock %}